
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<div class="fretefundo"
  
        <!--CORREIOS-->
   
  {%- if settings.frete1_caminhao -%}
       <svg fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" style="
    background: var(--product-truck-background);
    margin: 0px 8px;
    width: 38px;
    border-radius: 6px;
    padding: 1px 6px;">
  <path d="M9 17a2 2 0 1 1-4 0 2 2 0 0 1 4 0ZM19 17a2 2 0 1 1-4 0 2 2 0 0 1 4 0Z" fill="var(--product-truck-color)" class="fill-ffffff"style="fill: var(--product-truck-background);">   
  </path>
  <path d="M13 16V6a1 1 0 0 0-1-1H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h1m8-1a1 1 0 0 1-1 1H9m4-1V8a1 1 0 0 1 1-1h2.586a1 1 0 0 1 .707.293l3.414 3.414a1 1 0 0 1 .293.707V16a1 1 0 0 1-1 1h-1m-6-1a1 1 0 0 0 1 1h1M5 17a2 2 0 1 0 4 0m-4 0a2 2 0 1 1 4 0m6 0a2 2 0 1 0 4 0m-4 0a2 2 0 1 1 4 0" stroke="var(--product-truck-color)" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="stroke-374151">    
  </path>
       </svg>
  {%- else -%}
    {%- if settings.frete1_correios -%}
      <img style="width: 45px;height: auto;padding: 7px;margin: 0px 3px 0px 4px;"  src="{{ 'correios.png' | asset_url }}" class="lazyload"  width="90"  height="35" alt="logo dos correios">
      {%- endif -%}
      {%- endif -%}
  <p class="ttl-frete"><b style="color: var(--product-free-shipping-color)">Frete Grátis</b> {{ settings.frete1_frase }}
        <span class="ip-frete" id="custom-address">Carregando informações...</span></p>

        <!--CORREIOS-->

      <script>    
        $.getJSON( "https://wtfismyip.com/json", function(localizacao) {
          var localizacao = localizacao['YourFuckingLocation'];
          var regiao = localizacao.replace(", Brazil", "");
          $("#custom-address").html("para <b>" + regiao + " e Região</b>");
      });
      </script>

      <style>
      
      @media (max-width: 640px) {
        .fretefundo > img {
           height: 52px;
        }
        .fretefundo > p > span {
           font-size: 12px;
          color: #36b376;

        }
        .fretefundo {
           margin-top: 14px;
        }
       .txt-frete {
           font-size: 10px;
           font-weight: bold;
           padding: 0;
           margin: 0;
           margin-right: -5px!important;
          color: #36b376;

        }
      }

      .fretefundo {
        display: flex;
    align-items: center;
    border-radius: var(--arredonda-box);
    padding: 6px 10px 6px 0px;
    {% if settings.show_cronometro %}
      margin: 0px 0px 18px 0px;
    {% endif %}
    color: #a9a9a9;
    box-shadow: 0px 5px 6px -9px #a1a1a1;
    border: 1px solid #f5f5f5;
   background: var(--color-frete-fundo);
            margin-top: 7px;
    margin-bottom: -7px;
      }

      .ttl-frete {
       flex-grow: 1;
        font-size: 13px;
       line-height: 1.3;
      margin-bottom: 0px;
          margin-top:0px;
        color: #8f8f8f;
        
      }

      @media (min-width: 641px){
      .txt-frete {
           font-size: 12px;
           font-weight: bold;
           padding: 0;
           margin: 0;
          color: #36b376;

      }}

      .ip-frete {
           display: block;
          color: var(--product-localization-color);
       font-size: 13px;

      }
      
      </style>
   </div>